.section {
    height: 105vh;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 105vh;
    width: 69px;
    overflow: hidden;
}

.expanded {
    width: 200px;
}

.fas {
    font-size: 30px;
    width: 100%;
}

.fas:hover {
    color: #3298dc;
    transition: 0.3s;
}