.box {
    height: 105vh;
}

.recipes {
    overflow: auto;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 105vh;
    width: 69px;
    overflow: hidden;
    outline: 5px solid #3298dc;
}

.expanded {
    width: 200px;
}

.fas {
    font-size: 30px;
    width: 100%;
    transition: 0.2s;
}

.fas:hover {
    color: #3298dc;
}

html {
    overflow: hidden;
}

.fa-trash-alt {
    float: left;
    width: 5%;
    font-size: 38px;
}

#recipeTabName {
    float: left;
    width: 95%;
}

.clearfix{
    clear:both
}

.content {
    padding: 3rem 
}
